

.userField {
    width: 240px;
    padding: 5px;
    height: 10%;
    background: #ffbbee;
    flex: 1;
    border-radius: 8px;
}

.buttonSettings {
    flex: 2;
    background-color: #ddd;
    border: none;
    border-radius: 4px;
    padding: 16px;
    color: #222;
    font-weight: bold;
    font-size: 16px;
    transition: 100ms;
    justify-content: space-between;

}

.buttonSettings:hover {
    background-color: #222;
    color: #ddd;
    cursor: pointer;
}


