/**
 * Project: keskusteleFrontend
 * Created by: Emma Bauer
 * Date: 22/05/2024
 * Time: 14:35
 **/


.pageContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 80% 200px;
    grid-template-rows: 3.75fr 0.25fr;
    gap: 20px;
}

.chatContainer {
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 16px;
    display: flex;
}

.messageContainer {
    height: 100%;
    background: white;
    border-radius: 16px;
    align-items: center;
    display: flex;
    padding: 0 8px 0 8px;
}

.messageInput {
    border: none;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    outline: none;
}

.onlineUsersContainer {
    grid-row: span 2 / span 2;
    width: 100%;
    background: white;
    border-radius: 16px;
    display: flex;
    padding: 16px;
    align-items: center;
    flex-direction: column;
}

.userComponentStyles{
    display: flex;
}

.onlineUsersList{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 16px;
}

.message {
    background-color: #ffbbee;

    width: 97.5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    border-radius: 8px;
    padding: 8px;
}